.header{
    display:flex;
    width:100%;
    margin:auto;
    justify-content:space-between;
    background-color: indigo;
    color:white;


}

.header a{
    color: white;
    height: 70px;
    line-height: 70px;
}

.header h1{
    margin:auto;
}


.navegador{
    width:30%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;

}

.header img{
    height:100px;
    width:100px;
  }