.compReserv{
text-align: center;
}
.tablareserv{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    margin:20px auto;
}
.tablareserv tr,td,th{
    border: 1px solid black;
    text-align: center;
}
.btnreservar{
    text-align: center;
    color: white;
    background-color: green;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid indigo;
    padding: 2px 10px;
    margin: 10px;
}
.btnreservar:hover{
    background-color: indigo;

}
.reservar{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    width: 35%;
}
.formchild{
    width: 48%;
    margin: 2px 0;
}